[submodule "Github_Classroom_Assignments/js-conditionals-paramveer-cyber"]
	path = Github_Classroom_Assignments/js-conditionals-paramveer-cyber
	url = https://github.com/chaicodehq/js-conditionals-paramveer-cyber
[submodule "Github_Classroom_Assignments/js-datatypes-paramveer-cyber"]
	path = Github_Classroom_Assignments/js-datatypes-paramveer-cyber
	url = https://github.com/chaicodehq/js-datatypes-paramveer-cyber
[submodule "Github_Classroom_Assignments/js-loops-paramveer-cyber"]
	path = Github_Classroom_Assignments/js-loops-paramveer-cyber
	url = https://github.com/chaicodehq/js-loops-paramveer-cyber
[submodule "Github_Classroom_Assignments/js-functions-paramveer-cyber"]
	path = Github_Classroom_Assignments/js-functions-paramveer-cyber
	url = https://github.com/chaicodehq/js-functions-paramveer-cyber
[submodule "Github_Classroom_Assignments/js-datatypes-foundation-paramveer-cyber"]
	path = Github_Classroom_Assignments/js-datatypes-foundation-paramveer-cyber
	url = https://github.com/chaicodehq/js-datatypes-foundation-paramveer-cyber
[submodule "Github_Classroom_Assignments/js-async-oops-paramveer-cyber"]
	path = Github_Classroom_Assignments/js-async-oops-paramveer-cyber
	url = https://github.com/chaicodehq/js-async-oops-paramveer-cyber
[submodule "Github_Classroom_Assignments/js-dom-paramveer-cyber"]
	path = Github_Classroom_Assignments/js-dom-paramveer-cyber
	url = https://github.com/chaicodehq/js-dom-paramveer-cyber
[submodule "Github_Classroom_Assignments/image-upload-api-paramveer-cyber"]
	path = Github_Classroom_Assignments/image-upload-api-paramveer-cyber
	url = https://github.com/chaicodehq/image-upload-api-paramveer-cyber
[submodule "Github_Classroom_Assignments/first-crud-app-paramveer-cyber"]
	path = Github_Classroom_Assignments/first-crud-app-paramveer-cyber
	url = https://github.com/chaicodehq/first-crud-app-paramveer-cyber
[submodule "Github_Classroom_Assignments/auth-api-paramveer-cyber"]
	path = Github_Classroom_Assignments/auth-api-paramveer-cyber
	url = https://github.com/chaicodehq/auth-api-paramveer-cyber
