.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}
