
@font-face {
    font-family: "CursorGothic";
    src: url("/assets/CursorGothic.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "CursorGothic";
}
body {
    margin: 0;
    padding: 0;
    background-color: #14120b;
    color: #edecec;
    font-family: "CursorGothic";
}

header {
    display: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 1111px;
    margin-left: auto;
    margin-right: auto;
}

.sr-only {
    clip-path: inset(50%);
    white-space: nowrap;
    border-width: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 52px;
    width: 100%;
}

.nav-logo {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-center-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: #edecec;
    margin: auto;
}

.nav-center-link {
    cursor: pointer;
    font-size: 0.875rem;
    padding-inline: 0.9375rem;
    padding-block: 0.35rem;
    background-color: #0000;
    border: 1px solid #0000;
    display: inline-flex;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.46875rem;
}

.nav-right-link {
    border: 1px solid color-mix(in oklab,#edecec 20%,transparent);
    font-size: 0.875rem;
    padding: .4em .75em .42em;
    color: #edecec;
    cursor: pointer;
    font-weight: 400;
    background-color: #0000;
    border-radius: 3.40282e38px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    display: inline-flex;
}

.nrl2 {
    color: #14120b;
    background-color: #edecec;
}

.heading-section{
    /* background-color: #14120b; */
    color: #edecec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 105px;
    padding-bottom: 63px;
    padding-inline: 18.75px;
    max-width: 1111px;
    width: 100%;
    margin-inline: auto;
}

.heading-text {
    text-align: left;
    max-width: 65ch;
    margin-bottom: 3.5rem;
}

.heading-text h1{
    text-wrap: balance;
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 400;
    /* letter-spacing: 0.125rem; */
    margin-bottom: 1.4rem;
    color: #edecec;
    text-align: left;
}

.heading-text-btn {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.heading-text-btn a {
    background-color: #edecec;
    border: 1px solid #edecec;
    color: #14120b;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    padding: .89em 1.45em .91em;
    border-radius: 3.40282e38px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    display: inline-flex;
}

.heading-img {
    width: 1111px;
}

.trusted-by-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    color: #edecec;
    background-color: #14120b;
    /* padding: 4.2rem 1.25rem; */
    max-width: 1111px;
    text-align: center;
    margin-inline: auto;
    width: 100%;

}

.trusted-by-section h2{
    font-family: "CursorGothic";
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 400;
    /* height: fit-content; */
    letter-spacing: 0.01rem;
}

.trusted-by-logos {
    gap: 0.625rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
}

.trusted-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
    padding-inline: 0.46875rem;
    background-color: #1b1913;
    border-radius: 4px;
}

.trusted-logo img {
    color: transparent;
    height: 2.25rem;
    object-fit: contain;
    width: auto;
    display: block!important;
}

.site-card {
    display: flex;
    width: 1111px;
    justify-content: center;
    margin-inline: auto;
    border-radius: 4px;
    align-items: center;
    background-color: #1b1913;
    margin-block: 4rem;
    gap: 1rem;
    padding: 1rem;
}

.site-card-left {
    width: 600px;
    margin: 0.25rem;
}

.site-card-left *{
    font-family: "CursorGothic";
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: -0.005em;
}

.site-card-left p {
    color: color-mix(in oklab,#edecec 60%,transparent);
}

.site-card-left a{
    margin-top: 1rem;
    padding: unset;
    color: #f54e00;
    background-color: #0000;
    font-size: 1rem;
    border: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
}

.site-card-right img {
    margin-left: 0.5rem;
    border-radius: 4px;
}
.site-card-right video {
    margin-left: 0.5rem;
    border-radius: 4px;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
    max-width: 1300px;
    width: 100%;
}

.review-heading h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-inline: auto;
}

.review-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1111px;
}


.review-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    width: 100%;
    height: 100%;
    padding: 12px;
    /* padding: 15.9px 17.5px 17.5px 17.5px; */
    background-color: #1b1913;
    border-radius: 4px;
}

.figure-item {
    display: flex;
    margin: 0;
    height: 100%;
    flex-direction: column;
}

blockquote {
    margin: 0;
    flex-grow: 1;
    overflow: hidden;
}

blockquote p {
    overflow: hidden;
    white-space: pre-wrap;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.005em;
}

.reviewer {
    display: flex;
    align-items: center;
    justify-content: start;
}


.reviewer div {
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin-right: 12.8px;
}

.review-img {
    object-fit: cover;
}

figcaption {
    color: #edecec;
    font-size: 1rem;
    margin: 0;
}

figcaption div{
    font-family: "CursorGothic";
    font-size: 0.775rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.01em;
    width: fit-content!important;
    height: fit-content!important;
}

figcaption div span{
    display: block;
    color: color-mix(in oklab, #edecec 60%, transparent);
    font-family: "CursorGothic";
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.01em;
}